footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
footer .logoFooter {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 22px 0 16px 25px;
}
footer .footerLinks {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px 25px;
}
footer .footerLinks a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}
footer .footerLinks a i {
  max-width: 15px;
  margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  footer .logoFooter {
    width: 10%;
    margin: 57px 25px 26px 30px;
  }
  footer .footerLinks {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
  }
  footer .footerLinks a {
    text-decoration: none;
    color: white;
    margin: 57px 7px 26px 0;
  }
  footer .footerLinks a:nth-child(2) {
    margin-right: 30px;
  }
  footer .footerLinks a i {
    max-width: 15px;
    margin-right: 10px;
  }
}
.btn {
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s, box-shadow 0.3s;
  margin: 0 75px 57px 82px;
  min-width: 186px;
}
.btn:hover {
  background: linear-gradient(#ff8dea, #a66dec);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: shrikhand, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  padding: 14px 0 5px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  color: #101010;
}
header .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  padding: 16px 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  color: #353535;
}
header .location .textLocation {
  margin-left: 17px;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
}
#hero h2 {
  font-size: 24px;
  margin: 39px 52px 10px 42px;
}
#hero p {
  font-weight: 300;
  font-size: 18px;
  margin: 0 26px 27px 26px;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
}
#fonctionnement h2 {
  margin: 48px 80px 6px 20px;
}
#fonctionnement .fonctionnementCards {
  margin-bottom: 48px;
}
#fonctionnement .fonctionnementCards .fonctionnementCard {
  display: flex;
  align-items: center;
  padding: 20px 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 20px 20px 20px 30px;
}
#fonctionnement .fonctionnementCards .fonctionnementCard .fa-solid {
  margin-left: 22px;
  color: #7E7E7E;
}
#fonctionnement .fonctionnementCards .fonctionnementCard .fonctionnementText {
  margin-left: 27px;
  justify-self: center;
  font-weight: 500;
}
#fonctionnement .fonctionnementCards .fonctionnementCard .number {
  margin-left: -35px;
  background-color: #9356dc;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
}
#fonctionnement .fonctionnementCards .fonctionnementCard:hover .fa-solid {
  color: #9356dc;
}

#restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
}
#restaurant h2 {
  margin: 54px 80px 25px 20px;
}
#restaurant .restaurantGrid {
  display: flex;
  flex-direction: column;
  margin: 0 18px;
}
#restaurant .restaurantGrid a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  margin-bottom: 18px;
}
#restaurant .restaurantGrid .card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
#restaurant .restaurantGrid .card img {
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
#restaurant .restaurantGrid .new {
  position: absolute;
  background-color: #99e2d0;
  color: #139373;
  padding: 5px 10px;
  border-radius: 3px;
  top: 20px;
  right: 20px;
}
#restaurant .restaurantGrid .cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
#restaurant .restaurantGrid .cardContent .cardText {
  margin: 16px;
}
#restaurant .restaurantGrid .cardContent .cardText h3 {
  font-weight: 700;
  font-size: 18px;
}
#restaurant .restaurantGrid .cardContent .cardText p {
  font-weight: 300;
  font-size: 17px;
}
#restaurant .heart-container {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
  margin: 0px 23px 10px 0px;
}
#restaurant .heart-outline,
#restaurant .heart-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
#restaurant .heart-outline {
  color: black;
}
#restaurant .heart-fill {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}
#restaurant .heart-container:hover .heart-fill {
  opacity: 1;
}

.loaderContainer {
  position: fixed;
  z-index: 9999;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 1;
  transition: opacity 3s ease;
  margin: auto;
}
.loaderContainer.fading-animation {
  animation: fadeOut 3s ease forwards 5s;
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loader #svgGroup #path0 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0s;
}
.loader #svgGroup #path1 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}
.loader #svgGroup #path2 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
}
.loader #svgGroup #path3 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.5s;
}
.loader #svgGroup #path4 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2s;
}
.loader #svgGroup #path5 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.5s;
}
.loader #svgGroup #path6 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3s;
}
.loader #svgGroup #path7 {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3.5s;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #fonctionnement {
    align-items: center;
  }
  #fonctionnement h2 {
    padding-left: 0;
  }
  #fonctionnement .fonctionnementCards {
    width: 50%;
  }
  #restaurant {
    align-items: center;
  }
  #restaurant .restaurantGrid {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  header h1 {
    font-size: 34px;
    padding: 30px 0 32px 0;
  }
  #hero h2 {
    font-size: 24px;
    margin: 30px 0px 18px 0px;
  }
  #hero p {
    margin: 0px 0px 18px 0px;
  }
  #fonctionnement {
    margin: 50px 180px 50px 180px;
  }
  #fonctionnement h2 {
    margin: 0;
  }
  #fonctionnement .fonctionnementCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: none;
    margin: 25px 0 0 15px;
  }
  #fonctionnement .fonctionnementCards .fonctionnementCard {
    width: 28%;
    margin: 0 34px 0 0;
  }
  #restaurant {
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
  }
  #restaurant h2 {
    margin: 56px 180px 28px 180px;
  }
  #restaurant .restaurantGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px 95px;
    margin: 0 180px 30px 180px;
  }
  #restaurant .restaurantGrid a {
    width: 42%;
  }
}/*# sourceMappingURL=style.css.map */