@use '../../common/common.scss';
@use '../../common/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  max-width: 1440px;
  margin: auto;
}

.hidden {
  display: none;
}


// Display Mobile
// Partie Header

header {
  flex-direction: column;

  .logo {
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
  }

  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    padding: 16px 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: $color-dark;

    .textLocation {
      margin-left: 17px;
    }
  }
}

// Partie Hero

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-light-gray;
  text-align: center;

  h2 {
    font-size: 24px;
    margin: 39px 52px 10px 42px;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    margin: 0 26px 27px 26px;
  }
}


// Partie fonctionnement
#fonctionnement {
  display: flex;
  flex-direction: column;

  h2 {
    margin: 48px 80px 6px 20px;
  }

  .fonctionnementCards {

    margin-bottom: 48px;

    .fonctionnementCard {
      display: flex;
      align-items: center;
      padding: 20px 20px;
      background-color: $color-light-gray;
      border-radius: 20px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      margin: 20px 20px 20px 30px;

      .fa-solid {
        margin-left: 22px;
        color: $color-gray;

      }

      .fonctionnementText {
        margin-left: 27px;
        justify-self: center;
        font-weight: 500;
      }

      .number {
        margin-left: -35px;
        background-color: $color-purple;
        border-radius: 20px;
        padding: 5px 10px;
        color: $color-white;
      }

      &:hover {
        .fa-solid {
          color: $color-purple;
        }
      }
    }
  }
}

// Partie restaurant 
#restaurant {
  background-color: $color-light-gray;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 54px 80px 25px 20px;
  }

  .restaurantGrid {
    display: flex;
    flex-direction: column;
    margin: 0 18px;

    a {
      text-decoration: none;
      color: inherit;
      width: 100%;
      margin-bottom: 18px;
    }

    .card {
      border-radius: 20px;
      overflow: hidden;
      position: relative;
    }

    .card img {
      width: 100%;
      height: 231px;
      object-fit: cover;
      display: block;
    }

    .new {
      position: absolute;
      background-color: $color-mint;
      color: $color-deep-green;
      padding: 5px 10px;
      border-radius: 3px;
      top: 20px;
      right: 20px;
    }

    .cardContent {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;

      .cardText {
        margin: 16px;

        h3 {
          font-weight: 700;
          font-size: 18px;
        }

        p {
          font-weight: 300;
          font-size: 17px;
        }
      }
    }
  }

  .heart-container {
    margin: 0px 23px 10px 0px;
  }
}

// Partie Loader
.loaderContainer {
  position: fixed;
  z-index: 9999;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $color-white;
  opacity: 1;
  transition: opacity 3s ease;
  margin: auto;

  &.fading-animation {
    animation: fadeOut 3s ease forwards 5s;
  }

  @keyframes fadeOut {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loader {
  #svgGroup {
    @for $i from 0 through 7 {
      #path#{$i} {
        opacity: 0;
        animation: fadeIn 1s ease forwards;
        animation-delay: 0.5s * $i;
      }
    }
  }
}

// Responsive Tablette

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #fonctionnement {
    align-items: center;

    h2 {
      padding-left: 0;
    }

    .fonctionnementCards {
      width: 50%;
    }
  }

  #restaurant {
    align-items: center;

    .restaurantGrid {
      width: 50%;

    }

  }
}

// Responsive ordinateur 

@media only screen and (min-width: 1024px) {

  #hero {
    h2 {
      font-size: 24px;
      margin: 30px 0px 18px 0px;
    }

    p {
      margin: 0px 0px 18px 0px;
    }
  }

  #fonctionnement {

    margin: 50px 180px 50px 180px;

    h2 {
      margin: 0;
    }

    .fonctionnementCards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: none;
      margin: 25px 0 0 15px;

      .fonctionnementCard {
        width: 28%;
        margin: 0 34px 0 0;
      }
    }
  }

  #restaurant {
    background-color: $color-light-gray;
    display: flex;
    flex-direction: column;


    h2 {
      margin: 56px 180px 28px 180px;
    }

    .restaurantGrid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 50px 95px;
      margin: 0 180px 30px 180px;

      a {
        width: 42%;
      }
    }
  }
}