footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
}
footer .logoFooter {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-family: Shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 22px 0 16px 25px;
}
footer .footerLinks {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px 25px;
}
footer .footerLinks a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}
footer .footerLinks a i {
  max-width: 15px;
  margin-right: 10px;
}

@media only screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  footer .logoFooter {
    width: 10%;
    margin: 57px 25px 26px 30px;
  }
  footer .footerLinks {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0;
  }
  footer .footerLinks a {
    text-decoration: none;
    color: white;
    margin: 57px 7px 26px 0;
  }
  footer .footerLinks a:nth-child(2) {
    margin-right: 30px;
  }
  footer .footerLinks a i {
    max-width: 15px;
    margin-right: 10px;
  }
}
.btn {
  border: none;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  transition: background 0.3s, box-shadow 0.3s;
  margin: 0 75px 57px 82px;
  min-width: 186px;
}
.btn:hover {
  background: linear-gradient(#ff8dea, #a66dec);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
p,
span {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo {
  display: block;
  font-family: shrikhand, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 44px;
  padding: 14px 0px 5px 0px;
  width: 100%;
  text-align: center;
  z-index: 2;
  text-decoration: none;
  color: #101010;
}
header .backArrow {
  font-size: 16px;
  margin: 24px auto 23px 23px;
}
header .backArrow:link,
header .backArrow:visited,
header .backArrow:active {
  text-decoration: none;
  color: inherit;
}

main {
  position: relative;
}
main img {
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 275px;
  margin-top: -200px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #menu {
  background-color: #f6f6f6;
  margin-top: 200px;
  z-index: 2;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
main #menu .firstLine {
  display: flex;
  margin: 32px 17px 0 17px;
  align-items: center;
  justify-content: space-between;
}
main #menu .firstLine h1 {
  font-size: 28px;
  font-family: shrikhand, sans-serif;
  font-weight: 400;
}
main #menu .firstLine .heart-container {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
}
main #menu .firstLine .heart-outline,
main #menu .firstLine .heart-fill {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  font-size: 22px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
main #menu .firstLine .heart-outline {
  color: black;
}
main #menu .firstLine .heart-fill {
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
}
main #menu .firstLine .heart-container:hover .heart-fill {
  opacity: 1;
}
main #menu h2 {
  font-weight: 300;
  margin: 40px 0 13px 12px;
  display: flex;
  flex-direction: column;
}
main #menu h2::after {
  content: "";
  height: 3px;
  width: 40px;
  background: #99E2D0;
  margin-top: 5px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main #menu .menuSection {
  opacity: 0;
}
main #menu .menuSection:nth-child(2) {
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}
main #menu .menuSection:nth-child(3) {
  animation: fadeIn 1s ease forwards;
  animation-delay: 1.5s;
}
main #menu .menuSection:nth-child(4) {
  animation: fadeIn 1s ease forwards;
  animation-delay: 2.5s;
}
main #menu .textCard {
  background-color: white;
  margin: 0px 13px 11px 13px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
}
main #menu .textCard .description {
  display: flex;
  flex-direction: column;
  max-width: 85%;
}
main #menu .textCard .description h3 {
  margin: 12px 0 5px 15px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main #menu .textCard .description p {
  margin: 0 0 12px 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main #menu .textCard .price {
  font-weight: 700;
  font-size: 15px;
  margin: 37px 15px 13px auto;
}
main #menu .textCard .validationTag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  padding: 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: -70px;
  transition: margin-right 0.5s ease-in-out;
}
main #menu .textCard.textCard:hover .validationTag {
  margin-right: 0px;
}
main #menu .textCard.textCard:hover .description {
  max-width: calc(100% - 120px);
}
main .menuSection:last-of-type {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main #menu {
    align-items: center;
  }
  main #menu .firstLine h1 {
    margin-right: 20px;
  }
  main #menu .menuSection {
    width: 70%;
  }
}
@media only screen and (min-width: 1024px) {
  header .logo {
    font-size: 34px;
    padding: 30px 0 32px 0px;
    margin-left: -30px;
  }
  header .backArrow {
    z-index: 10;
    margin: 0 0 0 23px;
  }
  main img {
    width: 100%;
    height: 383px;
    margin-top: -350px;
  }
  main #menu {
    margin-top: 350px;
    max-width: 1055px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  main #menu .firstLine {
    justify-content: center;
  }
  main #menu .firstLine h1 {
    padding-right: 20px;
  }
  main #menu .firstLine,
  main #menu .menuSection {
    width: 60%;
  }
}/*# sourceMappingURL=style.css.map */