* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
p,
span {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 15px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .logo {
    display: block;
    font-family: shrikhand, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    padding: 14px 0px 5px 0px;
    width: 100%;
    text-align: center;
    z-index: 2;
    text-decoration: none;
    color: #101010;
  }

  .backArrow {
    font-size: 16px;
    margin: 24px auto 23px 23px;
  }

  .backArrow:link,
  .backArrow:visited,
  .backArrow:active {
    text-decoration: none;
    color: inherit;
  }
}

main {
  position: relative;

  img {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 275px;
    margin-top: -200px;
    object-fit: cover;
  }

  #menu {
    background-color: #f6f6f6;
    margin-top: 200px;
    z-index: 2;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .firstLine {
      display: flex;
      margin: 32px 17px 0 17px;
      align-items: center;
      justify-content: space-between;

      h1 {
        font-size: 28px;
        font-family: shrikhand, sans-serif;
        font-weight: 400;
      }

      .heart-container {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 21px;
      }

      .heart-outline,
      .heart-fill {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        font-size: 22px;
        cursor: pointer;
        transition: opacity 0.3s ease;
      }

      .heart-outline {
        color: black;
      }

      .heart-fill {
        color: transparent;
        background-image: linear-gradient(#9356dc, #ff79da);
        -webkit-background-clip: text;
        background-clip: text;
        opacity: 0;
      }

      .heart-container:hover .heart-fill {
        opacity: 1;
      }
    }

    h2 {
      font-weight: 300;
      margin: 40px 0 13px 12px;
      display: flex;
      flex-direction: column;


      &::after {
        content: "";
        height: 3px;
        width: 40px;
        background: #99E2D0;
        margin-top: 5px;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .menuSection {
      opacity: 0;

      &:nth-child(2) {
        animation: fadeIn 1s ease forwards;
        animation-delay: 0.5s;
      }

      &:nth-child(3) {
        animation: fadeIn 1s ease forwards;
        animation-delay: 1.5s;
      }

      &:nth-child(4) {
        animation: fadeIn 1s ease forwards;
        animation-delay: 2.5s;
      }
    }

    .textCard {
      background-color: white;
      margin: 0px 13px 11px 13px;
      border-radius: 20px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
      overflow: hidden;
      justify-content: space-between;

      .description {
        display: flex;
        flex-direction: column;
        max-width: 85%;

        h3 {
          margin: 12px 0 5px 15px;
          font-weight: 700;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        p {
          margin: 0 0 12px 15px;
          font-weight: 300;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .price {
        font-weight: 700;
        font-size: 15px;
        margin: 37px 15px 13px auto;
      }

      .validationTag {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #99E2D0;
        padding: 25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-right: -70px;
        transition: margin-right 0.5s ease-in-out;
      }

      &.textCard:hover .validationTag {
        margin-right: 0px;
      }

      &.textCard:hover .description {
        max-width: calc(100% - 120px);
      }
    }
  }

  .btn {
    border: none;
    color: white;
    background: linear-gradient(#ff79da, #9356dc);
    padding: 15px 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 186px;
    align-self: center;
    margin: 40px 0;
  }

  .btn:hover {
    background: linear-gradient(#ff8dea, #a66dec);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;

  .logoFooter {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Shrikhand, sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 22px 0 16px 25px;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    margin: 0 0 22px 25px;

    a {
      text-decoration: none;
      color: white;
      margin-bottom: 10px;
      font-size: 16px;

      i {
        max-width: 15px;
        margin-right: 10px;
      }
    }
  }
}

// Responsive Tablette

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    #menu {
      align-items: center;

      .firstLine {
        h1 {
          margin-right: 20px;
        }
      }

      .menuSection {
        width: 70%;
      }
    }
  }
}

// Responsive ordinateur 

@media only screen and (min-width: 1024px) {

  body {
    max-width: 1440px;
    margin: auto;
  }

  header {
    .logo {
      font-size: 34px;
      padding: 30px 0 32px 0px;
      margin-left: -60px;
    }

    .backArrow {
      z-index: 10;
      margin: 0;
    }
  }

  main {
    img {
      width: 100%;
      height: 383px;
      margin-top: -350px;
    }

    #menu {
      margin-top: 350px;
      width: 73%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      .firstLine {
        justify-content: center;

        h1 {
          padding-right: 20px;
        }
      }

      .firstLine,
      .menuSection {
        width: 60%;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    .logoFooter {
      width: 10%;
      margin: 57px 25px 26px 30px;
    }

    .footerLinks {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: right;
      margin: 0;


      a {
        text-decoration: none;
        color: white;
        margin: 57px 7px 26px 0;

        &:nth-child(2) {
          margin-right: 30px;
        }

        i {
          max-width: 15px;
          margin-right: 10px;
        }
      }
    }
  }
}