// Couleurs unies

$color-dark: #353535;
$color-light-gray: #f6f6f6;
$color-gray: #7E7E7E;
$color-purple: #9356dc;
$color-mint: #99e2d0;
$color-deep-green: #139373;
$color-white: #FFFFFF;

// Linear-gradient 

$gradient-pink-purple: linear-gradient(#ff79da, #9356dc);
$gradient-pink-purple-lighter: linear-gradient(#ff8dea, #a66dec);
$gradient-purple-pink: linear-gradient(#9356dc, #ff79da);